{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" >
    <title>{% block title %}Мой сайт {% endblock %}</title>
</head>



<body>
    <header>

        <nav class="menu">
        <ul>
        <li><a href="index.php">Главная</a></li>
        <li><a href="calculator.php">Калькулятор</a></li>
        <li><a href="modeling.php">3Д-моделирование</a></li>
        <li><a href="faq.php">Частые вопросы</a></li>
        <li><a href="payment_and_delivery.php">Оплата и доставка</a></li>
        <li id="last_item"><a href="contacts.php">Контакты</a></li>
        </ul>
        </nav>
        </header>

    {% block content %}{% endblock %}
</body>

</html>